/*style for the heading*/
h1
{
    text-align: center;
    color: red;
    font-size:40px;
    background-color:black;
}
/*alligning the entire thing center and giving the background as black*/
body
{
    text-align:center;
    background-color:black;
}
/*designing the buttons as cube and grid*/
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9
{
    height: 60px;
    width: 60px;
    display: inline-block;
}
/*Designing the buttons of 5*5 grid as cube and grid*/
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10,.a11,.a12,.a13,.a14,.a15,.a16,.a17,.a18,.a19,.a20,.a21,.a22,.a23,.a24,.a25
{
    height:60px;
    width: 60px;
    display: inline-block;
    border: 1px solid #34c1e5;
}
/*Designing the background of 5*5 grids background*/
.play_area
{
    width:25%;
    background-color: grey;
    display: inline-block;
    height: 315px;
    padding:10px 10px 30px 10px;    
}
/*Designing the RESET button*/
.quit
{
    text-align: center;
    height: 40px;
    width: 80px;
    font-size: 20px;
    background-color: rgb(22, 223, 22);
    color:white;
}